:root {
  --md-ref-typeface-brand: "Roboto";
  --md-ref-typeface-plain: "Roboto";
  --color-hero-gradient-to: #ffb3be;
  --md-filled-button-disabled-container-color: #eadfe2;
  --md-filled-button-disabled-label-text-color: #8a7d81;
  --md-filled-tonal-button-disabled-container-color: #eadfe2;
  --md-filled-tonal-button-disabled-label-text-color: #8a7d81;
  --md-outlined-button-disabled-label-text-color: #8a7d81;
  --md-outlined-button-disabled-outline-color: #b4a7ab;
  --md-text-button-disabled-label-text-color: #8a7d81;
  --md-elevated-button-disabled-container-color: #f1e5e9;
  --md-elevated-button-disabled-label-text-color: #8a7d81;
  --md-fab-container-color: #f9dce3;
  --md-fab-icon-color: #8f1140;
  --md-fab-branded-container-color: #f9dce3;
}

md-filled-text-field,
md-outlined-text-field {
  min-width: 200px;
}
